/** {
	box-sizing: border-box;
}

body {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  list-style-type: none;
	background-color: black;
  color: white;
  font-weight: 100;
  text-align: center;
  min-height: 100vh;
}
*/